.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h1 {
    margin: 0;
}

.print {
    padding: 2rem;
    text-align: left;
}

@media print {
    .print {
        padding: 0.75in;
    }
}
