.topButtons {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.print {
    padding: 2rem;
    text-align: left;
}

@media print {
    .print {
        padding: 0.75in;
    }
}
