.sectionContainer {
    max-width: 1050px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header > *:last-child {
    margin-left: auto;
}

.noTables {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: #4a5768;
}

.tableCell {
    padding: 0 !important;
}

.container {
    display: flex;
    align-items: center;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    padding: 1rem;
    padding-left: 1.5rem;
}

.container:hover {
    background-color: #f3f5f7
}

.tableItem {
    flex-grow: 1;
}

.actions {
    flex-grow: 0;
}
