@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
    min-height: 100vh;
    display: flex;
    font-size: 1rem;
}

.left {
    width: 200px;
    min-height: 100vh;
    padding-top: 20px;
}

.right {
    flex-grow: 1;
    min-height: 100vh;
    padding: 26px 3rem 0;
    background: #f0f0f0;
}
